# Poeschl Home Assistant Supervisor Add-ons

![Project Stage][project-stage-badge]
![GitHub commit activity][commit-badge]
![Licence][licence-badge]

[![Installation Statistics][statistics-badge]][statistics-url]
[![Donate][donation-badge]][donation-url]

## Addons available

{% for addon in addons %}
### 🧩 [{{ addon.name }}][addon-{{ addon.slug }}]

![Latest Version][{{ addon.slug }}-version-badge]
![Supports aarch64 Architecture][{{ addon.slug }}-aarch64-badge]
![Supports amd64 Architecture][{{ addon.slug }}-amd64-badge]
![Supports armhf Architecture][{{ addon.slug }}-armhf-badge]
![Supports armv7 Architecture][{{ addon.slug }}-armv7-badge]
![Supports i386 Architecture][{{ addon.slug }}-i386-badge]

{{ addon.description }}

[![{{ addon.name }} add-on documentation][addon-docs-badge]][addon-doc-{{ addon.slug }}]

{% endfor %}

## Deprecated Addons

These addons will not be updated anymore. Feel free to fork them.

- Docker Container Stats - Lightweight monitoring of all the running docker containers.
- OWASP ZAP - A security testing tool with MITM functionality.
- mitmproxy - A simple MITM proxy to trace network requests.

## Installation

To install any of the add-ons offered in this repository, you must first add its repository URL to your Home Assistant instance. To do so, click the following button:

[![Add repository to your Home Assistant instance.][repository-badge]][repository-url]

or manually add the following repository URL in the Home Assistant add-on store:

`{{ repo }}`

Then search for any of the add-ons in our addon store (button below) to install them.

[![Open your Home Assistant instance and show the Supervisor add-on store.][addon-store-badge]][addon-store-url]

You can also install them over the buttons in the Readmes of the addon folders.

## Support

If you are here, seeking help, please look at the issues of the specific addon.

{% for addon in addons %}
- [Issues of {{ addon.name }}][{{ addon.slug }}-issue]
{% endfor %}

[project-stage-badge]: https://img.shields.io/badge/project%20stage-✔%20stable-green.svg
[commit-badge]: https://img.shields.io/github/commit-activity/m/Poeschl-HomeAssistant-Addons/repository
[licence-badge]: https://img.shields.io/github/license/Poeschl-HomeAssistant-Addons/repository
[Stable-Repository]: https://github.com/Poeschl-HomeAssistant-Addons/repository

[statistics-badge]: https://img.shields.io/badge/-usage_statistics-41BDF5.svg?style=for-the-badge
[statistics-url]: https://addonstats.poeschl.xyz?filter=243ffc37
[donation-badge]: https://img.shields.io/badge/Buy%20me%20a%20coffee-%23d32f2f?logo=buy-me-a-coffee&style=for-the-badge&logoColor=white
[donation-url]: https://www.buymeacoffee.com/Poeschl

[repository-badge]: https://img.shields.io/badge/Add_addon_repository_to_my-Home%20Assistant-41BDF5?logo=home-assistant&style=for-the-badge
[repository-url]: https://my.home-assistant.io/redirect/supervisor_add_addon_repository/?repository_url={{ repo | urlencode }}
[addon-store-url]: https://my.home-assistant.io/redirect/supervisor_store/
[addon-store-badge]: https://img.shields.io/badge/Open_Addon_store_on_my-Home%20Assistant-41BDF5?logo=home-assistant&style=for-the-badge

[addon-docs-badge]: https://img.shields.io/badge/Documentation-41BDF5?style=for-the-badge

{% for addon in addons %}
[addon-{{ addon.slug }}]: {{ addon.repo }}/tree/{{ addon.version[1:] }}
[addon-doc-{{ addon.slug }}]: {{ addon.repo }}/blob/{{ addon.version[1:] }}/README.md
[{{ addon.slug }}-issue]: {{ addon.repo }}/issues
[{{ addon.slug }}-version-badge]: https://img.shields.io/badge/version-{{ addon.version[1:] }}-blue.svg
{% for arch in ['aarch64', 'amd64', 'armhf', 'armv7', 'i386'] -%}
{% if arch in addon.archs %}
[{{ addon.slug }}-{{ arch }}-badge]: https://img.shields.io/badge/{{ arch }}-yes-green.svg
{% else -%}
[{{ addon.slug }}-{{ arch }}-badge]: https://img.shields.io/badge/{{ arch }}-no-red.svg
{%- endif -%}
{% endfor %}
{% endfor %}
